{{/*
  extends: base.html
*/}}

{{ define "__ad" }}
{{ if and @AdSense.Publisher . }}
  <div class="ads-adsense ads-box ads-top-box {{ if @Shadow }} ads-shadow{{ end }}">
    {{ template "ads-hide-button" }}
      <ins class="adsbygoogle ads-box"
        style="display:block"
        data-ad-client="{{ @AdSense.Publisher }}"
        data-ad-slot="{{ . }}"
        data-ad-format="auto">
      </ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
{{ else if @AdSense.Publisher }}
  {{ template "ads-error" (tc "Ads" "Missing publisher ID, set ad.AdSense.Publisher to your publisher ID") }}
{{ else }}
  {{ template "ads-error" (tc "Ads" "Missing slot ID, pass it as the template argument - e.g {{ template \"Ads|AdSense-Responsive\" \"123456\" }}" ) }}
{{ end }}
{{ end }}

{{ define "AdSense-Responsive" }}
  <div class="ads-responsive">
    {{ template "__ad" . }}
  </div>
{{ end }}

{{ define "AdSense-ResponsiveFixed" }}
  <div class="ads-responsive ads-responsive-fixed">
    {{ template "__ad" . }}
  </div>
{{ end }}
