{{/*
  styles|bundable: adsense.css
  scripts|bundable: adsense.js
*/}}
{{ define "__ad" }}
{{ if and @Publisher . }}
  <div class="adsense-box adsense-top-box {{ if @Shadow }} adsense-shadow{{ end }}">
      <a class="adsense-hide-button" href="#"><span class="adsense-hide">{{ tc "AdSense" "hide" }}</span><span class="adsense-show">{{ tc "AdSense" "show" }}</span></a>
      <ins class="adsbygoogle adsense-box"
        style="display:block"
        data-ad-client="{{ @Publisher }}"
        data-ad-slot="{{ . }}"
        data-ad-format="auto">
      </ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
{{ else if @Publisher }}
  <p style="color: red; font-weight: bold;">{{ tc "AdSense" "Missing publisher ID, set adsense.Publisher to your publisher ID" }}</p>
{{ else }}
  <p style="color: red; font-weight: bold;">{{ tc "AdSense" "Missing slot ID, pass it as the template argument - e.g {{ template \"AdSense|Responsive\" \"123456\" }}" }}</p>
{{ end }}
{{ end }}

{{ define "Responsive" }}
  <div class="adsense-responsive">
    {{ template "__ad" . }}
  </div>
{{ end }}

{{ define "ResponsiveFixed" }}
  <div class="adsense-responsive adsense-responsive-fixed">
    {{ template "__ad" . }}
  </div>
{{ end }}
