.ads-top-box {
    margin: 0 auto;
    position: relative;
}
.ads-box {
    width: 320px;
    height: 50px;
    background: #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.ads-box-visible .ads-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

@media(min-width: 500px) {
    .ads-box { width: 468px; height: 60px; }
}
@media(min-width: 800px) {
    .ads-box { width: 728px; height: 90px; }
}

.ads-box .ads-hide-button {
    display: none;
    position: absolute;
    top: -16px;
    left: 0;
    z-index: 30000000;
    padding: 0 4px;
    height: 16px;
    background: #000;
    color: #fff;
    font-size: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ads-responsive {
  padding: 5px 0;
  width: 100%;
  z-index: 100000;
}

.ads-responsive-fixed {
  padding: 0;
  position: fixed;
  bottom: -1000px;
}

.ads-hide, .ads-box-visible .ads-show {
  display: none;
}

.ads-show, .ads-box-visible .ads-hide {
  display: inline;
}
.ads-error {
  color: red;
  font-weight: bold;
}
