.ads-top-box {
    margin: 0 auto;
    position: relative;
}
.ads-box {
    background: #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.ads-box-visible .ads-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.ads-responsive .ads-box {
    width: 320px;
    height: 50px;
}

@media(min-width: 500px) {
    .ads-responsive .ads-box {
        width: 468px;
        height: 60px;
    }
}
@media(min-width: 800px) {
    .ads-responsive .ads-box {
        width: 728px;
        height: 90px;
    }
}

.ads-box .ads-hide-button {
    display: none;
    position: absolute;
    left: 0;
    z-index: 30000000;
    padding: 0 4px;
    height: 16px;
    background: #000;
    color: #fff;
    font-size: 12px;
}

.ads-responsive {
  padding: 5px 0;
  width: 100%;
  z-index: 100000;
}

.ads-fixed {
  padding: 0;
  position: fixed;
  width: 100%;
}

.ads-fixed-top {
  top: -1000px;
}

.ads-fixed-top .ads-hide-button {
    bottom: -16px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ads-fixed-bottom {
  bottom: -1000px;
}

.ads-fixed-bottom .ads-hide-button {
    top: -16px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.ads-fixed .ads-top-box {
  margin: 0 auto;
}

.ads-hide, .ads-box-visible .ads-show {
  display: none;
}

.ads-show, .ads-box-visible .ads-hide {
  display: inline;
}
.ads-error {
  color: red;
  font-weight: bold;
}
